<% content_for :title, "Editar cliente" %>

<h1>Editar cliente</h1>

<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Ver cliente", @client %> |
  <%= link_to "Volver", clients_path %>
</div>
