<!DOCTYPE html>
<html>
    <head>
        <title>Productos</title>
    </head>
    <body>
        <h1>Productos</h1>
        <div class="general-container">
            <div class="products-filters">
                <h2>Filtros</h2>
                <ul>
                    <li><label><input type="checkbox"> Oportunidades (40% OFF)</label></li>
                    <li><label><input type="checkbox"> Categorías</label></li>
                    <li><label><input type="checkbox"> Talle</label></li>
                </ul>
            </div>
            <div class="products-container">
                <ul class="products-list">
                    <% @products.each do |product| %>
                        <li class="product-item">
                            <h3><%= product.name %></h3>
                            <div>
                                <%= image_tag url_for(product.images[0]), class: 'product-image' %>
                            </div>
                            <p><%= product.description %></p>
                            <p>Precio: $<%= product.unit_price %></p>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </body>
</html>


<style>

.general-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 1200px;
}

.products-filters {
    flex: 1; 
    padding: 20px;
    border-right: 1px solid #ddd;
    max-width: 300px; 
}

.products-filters ul {
    list-style: none;
    padding: 0;
}

.products-filters li {
    margin-bottom: 10px;
}

.products-container {
    flex: 3; 
    padding: 20px;
}

.products-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.product-item {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

.product-image {
    width: 300px;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
}

</style>